$text-color: #343434;
$text-color-secondary: #9e9e9e;
$highlight-color: #2f87b2;
$tab-padding: 18px;
$background-color: #f3f3f3;
$background-color-secondary: #fff;
$border-color: #ddd;
$border-color-inner: rgba(0, 0, 0, .03);
$table-padding-verticle: 6px;
$table-padding-horizontal: 12px;
